/*-------------------------------------------
  Guest info
-------------------------------------------*/

section.guests {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;

  .section-heading {
    margin-top: 0px;
  }

  .image-group {
    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -88px;
      width: 175px;
      height: auto;
      @include border-radius(88px);
      @include transition(opacity .2s);
      &.front {
        z-index: 2;
      }
      &.back {
        z-index: 1;
      }
    }
  }

  ul.guests {
    display: inline-block;
  }

  li {
    padding: 20px;
    height: 230px;
    width: 174px;
    cursor: pointer;
    vertical-align: top;

  a {
    color: $bcDarkBlue;
  }

    h3 {
      top: 170px;
      font-family: $museoSlab;
      font-size: 20px;
      color: $bcDarkBlue;
      small {
        display: block;
        font-size: 15px;
        font-style: italic;
        color: $bcGrey;
      }
    }
    &:hover {
      img.front {
        opacity: 0;
      }
    }
  }

  &.single-guest {
    text-align: left;
    padding-bottom: 50px;

    .image-group {
      display: none;
      float: left;
      z-index: 2;
      width: 175px;
      img {
        @include border-radius(0px);
      }
      &:hover {
        img.front {
          opacity: 0;
        }
      }
    }

    .guest-bio {
      position: relative;
      z-index: 1;
      h3 {
        margin-top: 0px;
      }
    }

  }
}

.guest-filmstrips {

  .filmstrip {
    padding: 5px;
    @include box-sizing('border-box');
  }

  .guest-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $lightGrey;
    @include transition(all .2s);

    .heading-group {
      h3 {
        margin-top: ($line-height-base/2);
        font-size: $font-size-h5;
        color: $bcDarkBlue;
        small {
          display: block;
          font-size: $font-size-small;
        }
      }
    }
    &:hover {
      background: $bcCyan;
      h3 {
        color: $white;
      }
      img.front {
        opacity: 0;
      }
    }
  }

  .image-group {
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      border: 1px solid $white;
      @include transition(opacity .2s);
      &.front {
        z-index: 2;
      }
      &.back {
        z-index: 1;
      }
    }
  }

}


// 2015 stuff

$guestStripAndPaneHeight: 300px;

.guest-strips {
  padding-bottom: 100px;
  .strip {
    background-color: $darkGrey;
    height: $guestStripAndPaneHeight;
    &:nth-child(1) {
      background-color: darken($white, 25%);
    }
    &:nth-child(2) {
      background-color: darken($white, 20%);
    }
    &:nth-child(3) {
      background-color: darken($white, 15%);
    }
    &:nth-child(4) {
      background-color: darken($white, 10%);
    }
    &:nth-child(5) {
      background-color: darken($white, 5%);
    }
    &:nth-child(6) {
      background-color: $white;
    }
    .wrap {
      @include flexbox();
      @include flex-align('center');
      @include flex-justify('center');
    }
    .pane {
      cursor: pointer;
      height: $guestStripAndPaneHeight;
      overflow: hidden;
      @include flex(1);
      .photo {
        background-size: cover;
        background-position: center center;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
        @include transition(all 0.15s linear);
      }
      .note {
        background: $bcAzure;
        bottom: 15px;
        color: white;
        display: inline-block;
        font-weight: bold;
        position: absolute;
        padding: 7px 20px 5px 10px;
        right: 0;
        z-index: 4;
      }
      .mask {
        background: rgba(0,0,0,.7);
        left: 0;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
        @include flexbox();
        @include flex-align('center');
        @include flex-justify('center');
        @include transition(all 0.2s ease-in-out);
      }
      .mask-content {
        display: block;
        width: 100%;
      }
      h3 {
        color: white;
        font-size: $font-size-h5;
        margin: 10px 0 20px;
      }
      hr {
        background: white;
        border: 0;
        height: 1px;
        margin-bottom: 20px;
        width: 40%;
      }
      small {
        display: block;
        margin-top: 5px;
      }
      .pony-avatar {
        display: inline-block;
        height: 80px;
        width: 80px;
        @include border-radius(40px);
      }
      &:hover {
        .photo {
          @include transform(scale(1.1));
        }
        .mask {
          opacity: 1;
        }
      }
      &.tier-2 {
        @include flex(2);
      }
      &.tier-3 {
        @include flex(3);
      }
      &.tier-4 {
        @include flex(4);
      }
      &.anon {
        display: none;
        cursor: default;
      }
    }
  }
}

.guest-schedule {
  & > div {
    margin-bottom: 30px;
  }
  h3 {
    color: $bcAzure;
    font-size: $font-size-h5;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-top: 6px;
  }
  li:before {
    display: none;
  }
  h4.day-block {
    font-family: $proxima;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .events {
    small {
      display: block;
      font-size: 70%;
    }
  }
}