$museoSlab = "museo-slab", georgia, serif;
$proximaCon = "proxima-nova-condensed", impact, sans-serif;
$proxima = "proxima-nova", "helvetica neue", helveticaneue, helvetica, sans-serif;

$bcAzure = rgb(60, 135, 200);
$bcGrey = rgb(165,165,165);
$superLightGrey = rgb(240,240,240);
$lightGrey = rgb(211,211,211);
$black = rgb(34,34,34);

$font-size-base = 17px;
$font-size-h2 = floor($font-size-base * 2.36); // ~40px
$font-size-h5 = ceil($font-size-base * 1.41); // ~24px

$headings-line-height = 1.1;
$headings-weight-default = 500;
$line-height-base = 1.4em;
$font-weight-default = 400;
