# BigTree .gitignore


# No local cache files, please

cache/*.btc
cache/*.json
cache/*/*.*

!cache/.gitkeep
!cache/city-guide/.gitkeep
!cache/registration/.gitkeep


# SCSS cache
site/resources/.sass-cache/*
site/resources/.coffeescript-cache/*
site/resources/fire_app_log.txt

# Node/Grunt things
!node_modules/.gitkeep
node_modules/*

site/cachebuster.php
site/css/app*.css
site/js/app*.js


# OS things
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
