.schedule-calendar-page.wrap {
  padding-bottom: 0px;
}

.mega-schedule {
  background: $bcAzure;
  font-size: 80%;
  line-height: 1.23em;
  max-width: 100%;
  overflow-x: scroll;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .time-slots {
    margin: 0;
    padding: 0;
  }

  .time-slot {
    border-top: 1px solid $superLightGrey;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    &:nth-child(odd) {
      border-top: 1px solid $lightGrey;
    }
    &:before {
      display: none;
    }
  }


  .schedule-structure {
    @include flexbox();
    max-width: 100%;
    z-index: 5;

    & > section {
      background: white;
      border-left: 1px solid $bcGrey;
      min-height: 500px;
      min-width: 150px;
      @include flex(1);

      &.time-scale {
        background: $bcAzure;
        color: white;
        min-width: 50px;
        max-width: 60px;
        text-align: right;
        .time-slots {
          top: -9px;
        }
        .time-slot {
          border-top: none;
          padding-right: 5px;
        }
      }
    }
  }

  header.schedule-structure {
    section {
      background: $bcAzure;
      border: none;
      color: white;
      font-weight: bold; 
      min-height: 60px;
      padding: 5px;
      text-align: center;
      width: 100%;
      @include flexbox();
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -o-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -o-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      small {
        display: block;
      }
    }
  }

  header.schedule-day {
    background: $bcAzure;
    color: white;
    padding: 30px 0 30px 70px;
    // border-bottom: 1px solid $superLightGrey;
    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .event {
    background: #cccccc;
    border: 2px solid $white;
    cursor: pointer;
    font-size: 10px;
    height: 60px;
    line-height: 1.23em;
    overflow: hidden;
    padding: 5px 12px 5px 5px;
    position: absolute;
    top: 24%;
    width: 100%;
    @include box-sizing('border-box');
  }

  .event-track {
    position: absolute;
    height: 24px;
    right: -12px;
    top: -12px;
    width: 24px;
    @include transform(rotate(-45deg));
  }

}

.convention-hours {
  & > div {
    margin-bottom: 30px;
  }
  h3 {
    color: $bcAzure;
    font-size: $font-size-h5;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li:before {
    display: none;
  }
  .day-block {
    font-weight: bold;
    display: inline-block;
    width: 200px;
  }
}