@import 'nib';

global-reset();

@import 'type';
@import 'variables';
@import 'schedule';

body {
    color: $black;
    font-family: $proxima;
    font-size: $font-size-base;
    font-weight: $font-weight-default;
    line-height: $line-height-base;
}

p {
    margin-bottom: 20px;
}
